@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Hairline.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato'; 
    src: url('../../fonts/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


* {
    font-weight: 300;
    font-family: 'Lato';
    text-align: justify;
}

.full-width {
    width: 100%;
}

.right {
    width: 48%;
    float: right;
    padding: 2%;
}

.left {
    width: 48%;
    float: left;
    padding: 2%;
}